<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>About</title>
    <link rel="shortcut icon" href="/img/Logo 2.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    {{>header}}
    </br>
    <div class="container">
        <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic">Namibian Journal of Social Justice</h1>
        </div>
    </div>
        </br>
        <h2>An introduction</h2>
        </br>
        <p>
            Namibia continues to be one of the most unequal nations of the face of the earth and the root cause of this
            inequality being apartheid colonialism followed by the post-colonial neoliberal policy path. What has
            happened in post-colonial Namibia is exactly what characterised many capitalist societies globally whereby
            the capitalist state is able to produce and reproduce its own intellectuals who seek to justify and
            rationalise the neoliberal order – the very order that produces inequality.
            </br>
            </br>
            Such neoliberal intellectuals dominate the intellectual space today. They form a strategic alliance with
            capitalist forces and state functionaries to maintain the neoliberal order. There is therefore an urgent
            need for leftist thinkers to contribute to alternative ideas and practices that will lead to significant
            improvements in the lives of the masses impacted by poverty and inequality. In doing so, leftist
            intellectuals and social justice academics must create their own spaces apart from contesting ideas within
            the existing spaces dominated by the neoliberal dogma.
            </br>
            </br>
            The Namibian Journal of Social Justice (NJSJ) was established in 2021 as an open-source publication to
            create a space for contesting the mainstream ideas that underpin the global capitalist neoliberal order. The
            NJSJ serves as an intellectual platform for social justice academics and activists in Namibia who want to
            critically question that order and search for alternatives. Its ideological grounding is unapologetically
            left as it wants to be a teaching and learning instrument for academics, teachers, students, workers, youth
            activists, policy makers and others who are willing to wage the struggle for social justice in Namibia.
            </br>
            </br>
            The NJSJ does not pretend nor assume an “open for all” character. It will promote a critical leftist
            analysis and ideas which will advance the struggle for social justice in Namibia. In doing so, the journal
            will uphold the principles of academic meticulousness and seek quality academic research output and analyses
            on social justice and related issues. At the same time, it will remain open to different forms of
            contributions (including opinion pieces, photo essays etc.) and prioritise substance over form. In other
            words, the NJSJ will not only accept academic articles of high quality but it will also publish activist
            accounts of struggles in Namibia, Africa and globally. </br>
            The Journal is published by the Economic and Social Justice Trust (ESJT). an organisation of volunteers
            dedicated to the achievement of economic and social justice <a href="https://www.esjtnam.org/">(www.esjtnam.org)</a>.
            </br></br>
            The journal has its own board which constitutes the editorial collective in charge of identifying the themes
            of each edition and soliciting articles from academics and activists alike. The editorial collective
            consists of the following persons: </br>

        <p><strong>Prof. Lucy Edwards-Jauch</strong> is the current editor in chief. She is a social justice activist
            with a focus on gender justice, an associate professor of Sociology. She has published widely on various
            topics related to gender justice. </p>
        <p><strong>Dr Job Shipululo Amupanda</strong>, the deputy dean of the faculty of economics and management
            science at the University of Namibia and a co-founder and leader of the Affirmative Repositioning (AR)
            movement, a movement set up by youth activists. </p>
        <p><strong>Dr Guillermo Delgado</strong>, an architect and housing activist who has worked in several research,
            design, and cultural projects, focused on issues of land rights, housing, urbanization, and inclusive
            socio-spatial practices. </p>
        <p><strong>Prof. Trywell Kalusopa</strong>, an associate professor in UNAM’s Department of Information &
            Communication Studies and a Research Fellow at the University of Zululand (UNIZULU). His main research
            interests include labour and employment as well as labour market information systems. </p>
        <p><strong>Ms Rinaani Musutua</strong>, a corporate communications professional with international experience in
            designing and implementing communications strategies for various organisations. She plays a key role in
            Namibia’s Basic Income Grant (BIG) </p>
        <p><strong>Mr Martin Namupala</strong>, a master of architecture graduate and practising urbanist with a
            specific focus on spatial justice, informality and trade-based livelihoods</p>
        <p><strong>Ms Ndeshi Namupala</strong>, a lecturer in Sociology at the University of Namibia whose research
            interests include labour issues, social protection, gender and youth and dynamics of social structure in
            Namibia</p>
        <p><strong>Dr Ellison Tjirera</strong>, a lecturer in UNAM’s Department of Sociology with academic interests in
            urban studies, post-apartheid societies, parliamentary democracy, gender studies and governance issues</p>
        </p>
    </div>
    {{>footer}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>