<!doctype html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
         integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <title>Call for papers</title>
      <link rel="shortcut icon" href="/img/Logo 2.png" type="image/x-icon">
      <link rel="stylesheet" href="/css/style.css">
   </head>
   <body>
      {{>header}}
      </br>
      <div class="container">
         <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
            <h1 class="display-4">Livelihoods, “Informality” and the Changing Nature of Work</h1>
         </div>
         </br>
         <h2>Call for papers, Volume 3, November 2023</h2>
         </br>
         <p>
            The global economy is facing a confluence of crises. These include a protracted economic crisis,
            a debt crisis, a climate crisis, an energy crisis and high levels of inflation. Persistent economic
            crises have already placed downward pressures on employment and livelihoods and these trends
            are likely to continue (United Nations, 2022).
            </br>
            </br>
            As was the case with previous economic crises, international agencies like the International
            Monetary Fund (IMF) have called for monetary and fiscal tightening through macroprudential
            policies. The IMF is calling for “near-term” fiscal measures to protect vulnerable groups, while it
            is also calling for fiscal tightening (IMF, 2022). The latter is associated with austerity and will
            worsen vulnerabilities as the State withdraws from service provision and/or reduces expenditures
            to achieve fiscal tightening. Such macroprudential measures may not address the more
            fundamental causes of mass unemployment, informal employment and poverty that are linked to
            the structure and extractivist nature of Namibia&#39;s enclave economy (Kayenze and Lapeye, 2012).
            As is the case in many African countries, Namibia is moving towards greater informalisation of
            employment (Bonnet; Vanek & Chen, 2019). The country is faced the “paradox of plenty”.
            Despite, its vast natural resources and high volumes of primary export production, the country
            experiences poverty and unemployment. Primary export economies normally result in enclaves of
            wealth that attract foreign investment around these primary exports. The enclaves fail to integrate
            fully into the national economy with the requisite backward and forward linkages to boost
            manufacturing and employment (Acosta, 2013; Mhone 2006).
            </br>
            </br>
            To cope with the challenges of under-and unemployment people are forced into various context-
            based livelihood strategies. About 61 percent of the world&#39;s workers are informally employed,
            </br>
            </br>
            representing 2 billion people. In developing countries, this figure is even higher with around 90
            percent of workers in informal employment (ILO, 2018). Informality is a characteristic of
            underdevelopment that traps people in low-income and precarious jobs without legal and social
            protections (Loayza, 2009). Informal workers often lack and employment benefits.
            </br>
            </br>
            Informality, which includes informal employment in the formal sector of the economy, informal
            sector enterprises and employment in the informal sector, remains under-researched. A total of
            57.7% of Namibian workers work in informal employment (men 54.1% and women 61.2%). In
            2018, less than 40% of paid employees in Namibia received paid annual leave or paid sick leave.
            Almost a third of all employed persons were in vulnerable employment and overall unemployment
            stood at 33.4% with around 50% amongst the youth (Namibia Statistics Agency (NSA), 2018).</br>
            Namibia&#39;s labour market still is segmented along racial and gender lines. Women hold less than
            50% of permanent jobs. Most hold casual, temporary and seasonal jobs (NSA, 2018). Informality
            of employment is not confined to the “informal economy” but also affects workers in the formal
            economy as the casualisation of work through outsourcing and subcontracting become more
            prevalent. COVID 19-related lockdowns severely affected the informal workers who were more
            exposed to income and job losses. People trapped in informality also had less access to public
            health and sanitation serves needed to limit the spread of the pandemic (Ohnsorge, Franziska, and
            Shu Yu, 2022). The activities of informal traders are often stigmatised and criminalised. They are
            often subjected to police harassment; abuses of power; arbitrary fines; confiscation of goods;
            degrading treatment; as well as institutional and bureaucratic barriers (Friedrich- Ebert- Stiftung,
            2021).
            </br>
            </br>
            Women&#39;s unpaid social reproductive labour (domestic labour/care work) is not acknowledged as
            labour. This socially necessary labour that increased during COVID 19 is not enumerated or
            remunerated because of the way labour is defined. Feminists have called for this work to be
            acknowledged through an expanded notion of work (Mezzadri, Newman & Stevano, 2021) .</br>
            To explore the multiple facets of livelihoods and work, the Namibian Journal of Social Justice
            hereby invites scholarly articles, case studies, opinion pieces, photo essays, creative contributions
            and book reviews on the topic. They can cover aspects such as:
         </p>
         <ol type="a">
            <li>Unemployment, under-employment and the social-structural crisis</li>
            <li> Informality and alternative livelihoods</li>
            <li> The right to work and livelihoods</li>
            <li> The informalisation of work: Outsourcing, Subcontracting and Labour hire</li>
            <li>Livelihoods in the informal economy</li>
            <li>Self-organisation in the informal economy</li>
            <li> Gender division of labour and the care economy</li>
            <li> Informalisation and worker&#39;s rights</li>
            <li>The political economy of the “enclave economy”</li>
            <li>The role of trade unions in a fragmented labour market</li>
            <li>The effects of technology on the world of work</li>
            <li>Climate change, livelihoods and employment</li>
         </ol>
         <p>Submission dates for abstracts: <strong>31 January 2023</strong></p>
         <p>Submission dates for full articles: <strong>15 May 2023</strong></p>
         <p>Submission guidelines: All submission guidelines can be found on <a
            href="https://www.namsocialjustice.org"
            >https://www.namsocialjustice.org</a></p>
         <p>Alternatively, contact the editor: take5@africaonline.com.na</p>
         </br>
         <p><strong>References</strong></p>
         <p>Acosta, A. (2013). <span class="fst-italic">Extractivism and neoextractivism: Two sides of the same curse.</span>
            <a
               href="https://www.tni.org/files/download/beyonddevelopment_extractivism.pdf"
               target="_blank"
               >https://www.tni.org/files/download/beyonddevelopment_extractivism.pdf</a>
         </p>
         <p>Bargallo, C. & Federici, S. (2011) Social Reproduction</p>
         <p>Bonnet, F., Vanek, J., & Chen, M. (2019). <span class="fst-italic">Women and Men in the Informal Economy – A Statistical
            Brief.</span>
            <a
               href="https://www.wiego.org/sites/default/files/publications/files/Women%20and%20Men%20in%20t
               he%20Informal%20Economy%20-%20A%20Statistical%20Brief%20-%20for%20web.pdf"
               target="_blank"
               >https://www.wiego.org/sites/default/files/publications/files/Women%20and%20Men%20in%20t
            he%20Informal%20Economy%20-%20A%20Statistical%20Brief%20-%20for%20web.pdf</a>
         </p>
         <p>Friedrich-Ebert-Stiftung (2021) <span class="fst-italic">Code of Conduct for the Informal Economy: Breaking New
            Ground.</span> Windhoek. Friedrich Ebert Foundation.
         </p>
         <p>International Monetary Fund (IMF) (2022). <span class="fst-italic">World Economic Outlook: Countering the Cost-of-Living Crisis.</span> https://www.imf.org/en/Publications/WEO/Issues/2022/10/11/world-economic-
            outlook-october-2022.
         </p>
         <p>International Labour Organisation 2018. <span class="fst-italic">World Employment and Social Outlook.</span> Trends 2018.
            Geneva: ILO.
         </p>
         <p>Kanyenze, G. and Lapeyre, F. (2012) <span class="fst-italic">Growth, employment and decent work in Namibia: A situation analysis.</span>
            <a
               href="https://www.ilo.org/wcmsp5/groups/public/---ed_emp/---emp_policy/documents/publication/wcms_175303.pdf"
               target="_blank"
               >https://www.ilo.org/wcmsp5/groups/public/---ed_emp/---emp_policy/documents/publication/wcms_175303.pdf</a>
         </p>
         <p>Loayza, N. (2009). <span class="fst-italic">Globalization and Informality: Two Challenges of Development and
            Integration. In The Multiple Faces of Globalisation.</span> Madrid. BBVA
         </p>
         <p>Mezzadri, A.; Newman S. & Stevano, S. (2021) <span class="fst-italic">Feminist global political economies of work
            and social reproduction. Review of International Political Economy.</span>
            <a
               href="https://www.tandfonline.com/doi/pdf/10.1080/09692290.2021.1957977?needAccess=true"
               target="_blank"
               >https://www.tandfonline.com/doi/pdf/10.1080/09692290.2021.1957977?needAccess=true</a>.
         </p>
         <p>Mhone, G. (2007).<span class="fst-italic"> Autocentric, sustainable human development. In Kanyenze, G, Kondo, T and
            Martens, J (eds) 2007. Alternatives to Neo-Liberalism in Southern Africa. The search for
            sustainable human development in Southern Africa.</span> Harare: ANSA.
         </p>
         <p>Namibia Statistics Agency 2018. <span class="fst-italic">The Namibian Labour Force Survey 2018 Report.</span> Windhoek:
            NSA.
         </p>
         <p>Ohnsorge, Franziska, and Shu Yu, eds. (2022). <span class="fst-italic">The Long Shadow of Informality: Challenges and
            Policies.</span> Washington, DC. World Bank
         </p>
         <p>United Nations (2022) <span class="fst-italic">Global economy: Outlook worsens as global recession looms – IMF.</span>
            <a
               href="https://news.un.org/en/story/2022/07/1123342"
               target="_blank"
               >https://news.un.org/en/story/2022/07/1123342</a>.
         </p>
         </br>
         </br>
      </div>
      {{>footer}}
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
         integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
         crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
         integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
         crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
         integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
         crossorigin="anonymous"></script>
   </body>
</html>