<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>guidelines</title>
    <link rel="shortcut icon" href="/img/Logo 2.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    {{>header}}
    </br>
    <div class="container">
        <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic">Submission Guidlines</h1>
            <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and
                efficiently about what’s most interesting in this post’s contents.</p>
        </div>
    </div>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h1 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Submission Guidelines for Scholarly Articles
                    </button>
                </h1>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>
                            All scholarly articles should be based on rigorous, original research. Articles should
                            significantly extend
                            knowledge of and advance debate on social justice. Articles must contribute to basic social
                            justice
                            principles
                            of access, equality, rights and participation. The submissions must engage critically with
                            the issues that
                            promote or impede social justice. The articles should seek new ways and insights for
                            understanding problems
                            under investigation. The journal seeks to encourage interdisciplinary research and will
                            therefore encourage
                            collaboration across disciplinary boundaries.
                        </p>
                        <p><strong>Length: </strong> Length: Articles should be tween 5000-8000 words. This should
                            include footnotes,
                            endnotes, in-text citations, references and annexures. </p>
                        <h4>Abstract</h4>
                        <p>Authors should provide an abstract of between 100-150 words. Below the abstract the author
                            should identify 6
                            keywords that indicate the focus of the article.</p>
                        <h4>Elements of Articles</h4>
                        <p><strong>Introduction: </strong>Should address the aim of the research, provide a social
                            justice context to
                            the article, summarise the key themes and summarise the central arguments or provide a
                            thesis statement.</p>
                        <p><strong>Analytical Framework: </strong> A brief summary of the theoretical/ analytical
                            framework used to
                            understand the problem and to interpret the findings. </p>

                        <p><strong>Findings: </strong>Presentation of findings should be clearly expressed and
                            signposted under thematic
                            headings.</p>
                        <p><strong>Conclusions: </strong>Should be based on the information presented in the article.
                            Should tie
                            together, or integrate the various issues discussed. Should note the implications resulting
                            from the
                            findings and provide a final statement on new ways of understanding the problem.
                            Recommendations for future
                            research can also be made</p>
                        <p><strong>Referencing: </strong>The journal will use the American Psychological Association’s
                            (APA) 7th edition
                            referencing style. For more information on this, authors can consult <a
                                href="https://apastyle.apa.org/">https://apastyle.apa.org/</a></p>
                        <p><strong>Style: </strong>Articles should be submitted in Times New Roman font size 12, double
                            spaced and all pages should be numbered. </p>
                        <p><strong>Language: </strong>All article should be submitted in UK African English. </p>
                        <p><strong>Quotations: </strong>All article should be submitted in UK African English.</p>
                        <h4>Ethics</h4>
                        <p><strong>Authorship: </strong>Authors must ensure that the work submitted was written by them.
                            All authors who made a significant contribution to the article should be acknowledged. The
                            journal will not publish articles with guest authors who have not contributed significantly
                            towards the authorship of the article. </p>
                        <p><strong>Conflicts of interests: </strong>All conflicts of interests and funders must be
                            declared. </p>
                        <p><strong>Plagiarism: </strong>The journal will not publish articles that have been wholly,
                            partially or self-plagiarised. All data, words, phrases, concepts and ideas of others must
                            therefore be duly credited. </p>
                        <p><strong>Harm: </strong>The journal will not publish work based on research that has caused
                            harm to vulnerable groups, animals and the environment. </p>
                        <p><strong>Simultaneous submissions: </strong>The journal will not publish work that has already
                            been published or submitted elsewhere for publication. It is the author’ responsibility to
                            inform the editorial collective of such simultaneous submissions. </p>
                        <p><strong>Retraction: </strong>Where gross errors are found in the work, the journal, in
                            consultation with the author/s, will retract such articles. </p>
                        <h4>Peer Review:</h4>
                        <p>The journal will use a double-blind peer review process. This means that the identities of
                            the authors and the reviewers will not be made known to the parties involved. Articles will
                            initially be reviewed by the editorial collective to assess their suitability for
                            publication. Once a determination with regard to suitability for publication is made,
                            articles will be submitted to reviewers. Reviewers will be required to review the work
                            fairly, timeously and confidentially. The reviewers should refrain from unjustified
                            criticism, personal attacks and derogatory or hostile comments. Where necessary they should
                            make very concrete suggestions for improvement. </p>
                        <p><strong>Copyright: </strong>Once the journal has agreed to publish an article, copy right
                            will be ceded to the journal.</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Submission Guidelines for Book Reviews
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>The Namibian Journal of Social Justice (NJSJ) commissions reviews and welcomes unsolicited
                            reviews of recently published individually authored books or edited volumes that deal with
                            issues of social justice and are grounded on the basic principles of social justice namely,
                            access, equity, rights, and participatory parity. Reviews should engage on the subject
                            matters of the books, conveying the key messages of the books, but should go beyond a
                            summary of the contents of books to include critical evaluations of books – critiquing
                            certain claims or analyses in the books. Reviews should demonstrate thoughtful engagement
                            and contain stimulating insights about books of interests to our readers. We prioritise
                            reviews of books on Namibia, but we also welcome reviews of books covering social justice
                            sited in southern Africa and beyond. Book reviews must include full details of the book
                            under review (name (s) and surname (s) of the author (s), year of publication, book title,
                            place of publication, publisher name, page length, published price in original currency and
                            the ISBN number).</p>
                        <p><strong>Length: </strong>Book reviews should not exceed 1000 words.</p>
                        <p><strong>Referencing: </strong>If there are citations and references within the review, the
                            book reviewers should follow the format of the NJSJ journal. The NJSJ journal uses the
                            American Psychological Association’s (APA) 7th edition referencing style. For more
                            information on this, reviewers can consult <a
                                href="https://apastyle.apa.org/">https://apastyle.apa.org/</a></p>
                        <p><strong>Style: </strong>Book Reviews should be submitted in Times New Roman font size 12,
                            double spaced and all pages should be numbered. </p>
                        <p><strong>Language: </strong>All reviews should be submitted in UK English. </p>
                        <p>At the end of the reviews, book reviewers should include the following details:
                            </br>Name
                            </br>Affiliation
                            </br>Email address
                        </p>
                        <h4>Potential Book Reviewers</h4>
                        <p>We are interested in developing our list of potential book reviewers. If you are interested
                            and would like to be added to our list of potential book reviewers, please email us your
                            name, email address, affiliation, short CV and a short summary noting the fields of social
                            justices in which you will be interested in reviewing. Thank you for taking the time to help
                            contribute to our journal. </p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Submission Guidelines for Case Studies
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>The Namibian Journal of Social Justice (NJSJ) welcomes case studies which should be
                            illustrative and therefore more descriptive of the context, circumstances and events
                            surrounding the phenomenon. They should present local knowledge as well as local experiences
                            of the phenomenon. The descriptions should be illustrative of the social forces and
                            relations involved in a phenomenon. Case studies should not exceed 2000 words. It should
                            consist of the following: </p>
                        <p><strong>Introduction: </strong>Overview of case study and the key issues the case study will
                            highlight </p>
                        <p><strong>Background: </strong>Overview of the history and the context of the phenomenon</p>
                        <p><strong>Challenges: </strong>Challenges faced by actors featured in the case study.</p>
                        <p><strong>Actions: </strong>Action taken by different parties to address the challenges.</p>
                        <p><strong>Outcomes/ Results: </strong>Summary of what was achieved by the actions and whether a
                            not challenges have been addressed. </p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Submission Guidelines for Opinion Pieces
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>The Namibian Journal of Social Justice (NJSJ) welcomes opinion pieces on current social
                            justice issues. Such opinions should relate to current events and struggles and provide
                            insights into the particular issue covered. They should be critical, avoid jargon and point
                            towards alternatives and solutions.</br>Opinion pieces should be concise, follow a logical
                            flow of argument and be exciting to read. References should be avoided or be kept to an
                            absolute minimum.
                        </p>
                        <p><strong>Length: </strong>Opinion Pieces should not exceed 1000 words.</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        Submission Guidelines for Photo Essays
                    </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>The Namibian Journal of Social Justice (NJSJ) welcomes photo essays on social justice issues.
                            Photo essays should show events and struggles related to the NJSJ themes or related social
                            justice issues. The photos should tell the story and captions should be limited to one or
                            two sentences per photo.

                            </br>Photo essays can be accompanied by a short introduction of 200 – 400 words.

                        </p>
                        <p><strong>Length: </strong>Photo essays should consist of no more than 10 photos. Their
                            resolution should be ....</p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingSix">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        Submission Guidelines for the “Creative Corner”
                    </button>
                </h2>
                <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>The Namibian Journal of Social Justice (NJSJ) welcomes creative, artistic contributions in
                            the forms of posters, poems, drawings etc. Such contributions should relate to social
                            justice issues.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{>footer}}
</body>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
    crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</html>