<div class="col-md-6">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">Carlos Sibalatani</strong>
            <h3 class="mb-0">Shoprite strike</h3>
            <div class="mb-1 text-muted">Nov 12, 2021</div>
            <p class="card-text mb-auto">What is Lorem Ipsum Lorem Ipsum is simply dummy text of the printing and
                typesetting industry Lorem Ipsum</p>
            <a href="#" class="stretched-link">Continue reading</a>
        </div>
    </div>
</div>