<div class="container">
    <!-- Footer -->
<footer class="bg-dark text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color:#212529!important; color:#CC383D">
    © 2021 Copyright:
    <a class="text-light" href="#">Brooks Web Studioz & </a>
    <a class="text-light" href="#">Carlos Sibalatani (Deta Consultancy)</a>
    </br>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
</div>