<div class="container">
  <!-- Footer -->
  <footer class="bg-dark text-center text-lg-start">
    <!-- Copyright -->
    <div
      class="text-center p-3"
      style="background-color:#212529!important; color:#CC383D"
    >
      Copyright ©
      <script>document.write(new Date().getFullYear());</script>
      <a class="text-light" href="https://tech.muhoko.org/">Powered by Muhoko
        Technology</a>
    </div>

    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</div>