<div class="container">
  <!-- Footer -->
  <footer class="bg-dark text-center text-lg-start">
    <!-- Copyright -->
    <div
      class="text-center p-3"
      style="background-color:#212529!important; color:#CC383D"
    >
      ©
      <script>document.write(new Date().getFullYear());</script>
      Copyright
      <div>
        Designed by
        <a
          class="text-light"
          href="https://www.linkedin.com/in/carlos-sibalatani-106963160/"
        >Carlos Sibalatani</a>
        &
        <a class="text-light" href="/">Brooks Web Studioz</a>
      </div>
      <div>
        Maintained by
        <a class="text-light" href="https://meyabase.com/">Meyabase</a>
      </div>
    </div>

    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</div>