<div class="container">
  <p>Welcome to the website of the Namibian Journal of Social Justice (NJSJ).
    This journal was formed by a group of academics and activists in 2020 with
    the aim of providing a space to critically engage with and contest the
    mainstream ideas that underpin the neoliberal global order. It is published
    by the Economic and Social Justice Trust (<a
      href="https://www.esjtrust.org/"
      target="_blank"
    >www.esjtrust.org</a>). The NJSJ serves as an intellectual platform for
    social justice academics and activists in Namibia who want to critically
    question that order and search for alternatives. The journal aims to be a
    teaching and learning instrument for academics, teachers, students, workers,
    youth activists, policy makers and others who are willing to wage the
    struggle for social justice in Namibia.
  </p>
  <p>The NJSJ creates a platform for a critical leftist analysis and ideas which
    will advance the struggle for social justice. In doing so, the journal will
    uphold the principles of academic meticulousness and seek quality academic
    research output and analyses on social justice and related issues. At the
    same time, it is open to different forms of contributions (including opinion
    pieces, photo essays, case studies etc.) and prioritise substance over form.
    In other words, the NJSJ will not only accept academic articles of high
    quality but it will also publish activist accounts of struggles in Namibia,
    Africa and globally.
  </p>
  <p>This website introduces the NJSJ and its editorial collective. It also
    presents the call for papers for the upcoming edition and the submission
    guidelines. The website allows access to all the articles published in the
    journal. The first volume of 2021 dealt with the housing crisis while volume
    2 of 2022 focused on inequality broadly. The upcoming edition of 2023 will
    deal with livelihoods, informality and the changing nature of work.
  </p>
</div>