<main class="container">
    <div class="row g-0">
        <div class="card mb-3 text-white mb-3 bg-dark mb-3" style="max-width: 100%;">
            <div class="row g-0">
                <div class="col-md-4" id="volumeCover">
                </div>
                <div class="col-md-8">
                    <div class="card-body" id="latestVolLink">
                        <h5 class="card-title" id="LatestVolume"></h5>
                        <h4 class="card-title" id="LatestVolumeTitle"></h4>
                        <p class="card-text" id="volumeAbstract"></p>
                        <p class="card-text"><small class="text-muted" id="datePublished"></small></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3 text-white mb-3 bg-dark mb-3" style="max-width: 100%;">
            <div class="row g-0">
                <div class="col-md-4" id="volumeCoverTwo">
                </div>
                <div class="col-md-8">
                    <div class="card-body" id="latestVolLinkTwo">
                        <h5 class="card-title" id="LatestVolumeTwo"></h5>
                        <h4 class="card-title" id="LatestVolumeTitleTwo"></h4>
                        <p class="card-text" id="volumeAbstractTwo"></p>
                        <p class="card-text"><small class="text-muted" id="datePublishedTwo"></small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{>articles}}
    <div class="col-md-6 px-0" style="margin-top: 1em; margin-bottom: 1em;" id="latestButton">

    </div>
</main>